@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ADBAC7;
}
html{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: #1c2128;
}
body{
    height: 100%;
}
img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    gap: 2rem;
    margin: 0 auto;
}
.center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.set-size{
    max-width: 1500px;
    padding: 1rem 2rem;
}
.set-margin{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
h1{
    font-size: 3rem;
    letter-spacing: .1rem;
    font-weight: 300;
    border-bottom: 1.5px solid #ADBAC7;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 400;
    line-height: 100%;
}
.logo{
    width: 200px;
}
.logo-show-task{
    width: 45%;
}
.foto-show-task{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 75vh;
}
.galeria, .cuidados, .texts, .perguntas{
    flex-direction: column;
}
.imagens{
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.imagens img{
    width: 48%;
    height: 100vh;
    object-fit: cover;
    object-position: fill;
}
.sobre{
    align-items: flex-start;
    gap: 1.5rem;
}
.texts p{
    padding: .5rem 0rem .5rem 0rem;
}
.foto-sobre{
    width: 50%;
}
.title-cuidados{
    max-width: 15ch;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.card{
    width: 100%;
    background-color: #2d333b;
    padding: 1rem;
    border-radius: 5px;
    height: 100%;
}
.card h2{
    margin-bottom: .5rem;
}
.card2{
    width: 100%;
}
.footer{
    gap: 1rem;
    justify-content: space-around;
}
.icon{
    width: 20px;
    display: inline-block;
    margin-right: .5rem;
}
footer p{
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
.link:hover{
    color: rgb(192, 165, 14);
}
@media(max-width: 800px){
    .ul-nav-menu{
        gap: .5rem;
    }
    .ul-nav-menu a{
        background-color: #2d333b;
        padding: .5rem .8rem;
        border-radius: 5px;
    }
    .images img{
        object-position: center;
        object-fit: cover;
    }
    .sobre{
        flex-direction: column;
    }
    .foto-sobre{
        width: 100%;
    }
    .footer{
        justify-content: space-between;
    }
}
@media(max-width: 600px){
    header{
        flex-direction: column;
        gap: 1.5rem;
    }
    .logo-show-task{
        display: none;
    }
    .imagens, .show-task, footer{
        flex-direction: column;
    }
    .imagens img, .card, .contato{
        width: 100%;
        height: 100%;
        object-position: inherit;
    }
    .card-container{
        grid-template-columns: auto;
    }
    iframe{
        width: 100%;
    }
}